.botao {
    background-color: #FF0707;
    height: 50px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;

    h3 {
        color: #FBF2B7;
    }
}

