.footer {
    background-color: #FBF2B7;
    color: #029652;
    text-align: center;
    padding: 4rem;
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.footer-logo {
    height: 140%;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 
    font-size: 0.8rem; 
    margin-right: 0;
}

.social-icons {
    display: flex;
    gap: 1rem; 
}
